body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: rgb(189, 65, 65);
    text-align:center;
}
input {
    font-size: larger;
    background-color: rgb(206, 148, 110);
    border-style: none;
    width: 100%;/*Jeg bruker 'input' for knappene på siden. 100% width gjør så knappenes bredde er relativ til elementet de er i istedet for teksten inni knappen.*/
}
input:hover { background-color: rgb(189, 65, 65); }
.buttonBox {
    position: fixed;
    top: 12px;
    width: 130px;
    height: 98%;
    background-color: rgb(241, 198, 55);
    border: 3px solid #dfa833;
}
.mainContent {
    margin-top: 12px;
    margin-inline: auto;
    padding-inline: 150px;/*Gjør så elementet i midten ikke koliderer med andre elementer. Det ville sansyneligvis vært lettere å bruke noen flexboxer her istedet.*/
    width: fit-content;
    height: fit-content;
}
img {
    width:100%;
    margin-bottom: 20px;
}
.pizzaRight {
    font-size: 100px;
    position: relative;
    animation-name: Right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Right {
  0%   {left:0px; top:0px;}
  50% {left:0px; top:1000px;}
  100%   {left:0px; top:0px;}
}
.pizzaLeft {
    font-size: 100px;
    position: relative;
    animation-name: Left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Left {
  0%   {left:0px; top:1000px;}
  50% {left:0px; top:0px;}
  100%   {left:0px; top:1000px;}
}